
body {
   background-image: url("dana ulery.jpg");
   background-repeat: no-repeat;
   background-size: 1300px;
    color:#4287f5;
    title {
      Dana Ulery
    }
  }
  title {
    Dana Ulery
  }
